/* bootstrap override */

.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

/* custom ap */

.ap-logo-fixed {
    height: 120px;
}

.ap-logo-responsive {
    display: block;
    height: auto;
    max-width: 70%;
}

.ap-logo-navbar-toggler {
    border: 0;
    width: 93%;
}

.ap-menu-button {
    border: none;
    padding: 0;
    margin-bottom: 6px;
}

.ap-nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 6px !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.ap-card {
    padding-bottom: 15px;
}

.ap-img-responsive, .ap-home-img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.ap-img-responsive {
    padding-bottom: 15px;
}

.ap-home-img-responsive:hover {
    opacity: 0.75;
}
